#header, #footer {
	width: 400px;
}



#mainDIV {
	margin: 8px;
	width: 400px;
	height: 400px;
	line-height: 0;
	
}
.falseBox {
	background: red;
}
.trueBox {
	background: #00aa00;
}

.field {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 5px;
	background: white;
}
.black {
	background: black;
}	
.round {
	border-radius: 20px;
}

button {
	width: 300px;
	margin: 0px 60px 10px 60px;
}
